h1{
    font-size:2rem !important;
    cursor:pointer;
    color: #212529;!important;
}


h1:hover{
    text-decoration:underline;
}

.readmore{
    font-weight:bold;
}

.articleimage{
    height:150px;width:200px;padding:10px;margin-left:50px;margin-top:20px;object-fit:contain 
}

.articleimageinside{
    height:150px;width:200px;padding:10px;object-fit:contain 
}

body {
    background:#f6f6f6;
}


@media (max-width: 800px){
    .articleimage{
        flex-grow: 100%;
        flex-basis:100%;
    }
}


p{
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;   
}

  #wyloguj {
      display: block;
  }

  #app {
      text-align: justify;
  }