h1{
    font-size:2rem !important;
}

.readmore{
    font-weight:bold;
}

.articleimage{
    width:300px;
    height:200px;
    /* border-radius:100%; */
    padding:10px;
    margin-top:40px;
}

@media (max-width: 600px){

}